@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.main-head{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.row{
    width: 100%;
}
.col{
    border: 1px solid black;
    width: 33%;
    float: left;
    height: 400
    ;
}

.col img{
    width: 100%;
    height: 300px;
}